.carrousel-inner{
    max-width: 100%;
   
}

h2{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: pink;
    text-transform: uppercase;
    padding: 10px;
    color: palevioletred;
    cursor: default;
    
    
} 

.nav{
    background-color: pink;

}

.nav-item{
   padding: 5px;
   margin-left: 10px;
   margin-right: 10px;

}

.nav-item a:hover{
    background-color: palevioletred;
    color: #fafafa;
    border-radius: 8px;
    
}

.navbar-nav{
    text-transform: uppercase;
    border-left: 1px solid palevioletred;
}

.navbar-brand{
    color: palevioletred;
}

.dropdown-menu{
    padding: 5px;
}

/* imagenes */

.card-img-top{
   padding: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 40px;
   
}

.card{
    text-align: center;
    border: none;
}

.btn{
    background-color: palevioletred;
    border: none;

}

.btn:hover{
    background-color: green;
    
}
