h2 {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80px;
  text-align: center;
  background-color: pink;
  text-transform: uppercase;
  padding: 10px;
  color: palevioletred;
  cursor: default;
}