h2 {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80px;
  text-align: center;
  background-color: #CDEAC0;
  text-transform: uppercase;
  padding: 10px;
  color: #637081;
  cursor: default;
}