@mixin text {
  text-decoration: underline 2px solid;
  color: #637081;
  background-color: #CDEAC0;
  text-transform: uppercase;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80px;
  text-align: center;
  padding: 10px;
  color: #637081;
  cursor: default;
}

h2 {
  @include text
}