.card-img-top {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 40px;
}

.card {
  h3 {
    text-align: center;
    border: none;
  }

  display: inline-block;
  border: none;
}

.btn {
  background-color: palevioletred;
  border: none;

  &:hover {
    background-color: green;
  }
}