.card-img-top {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 40px;
}
@mixin text{
  text-decoration: none;
  color: #637081;
  border: 2px solid red;
}

h3{
  @include text
}
.card {
  h3 {
    text-align: center;
    border: none;
  }

  display: inline-block;
  border: none;
}

.btn {
  background-color: $pale;
  border: none;

  &:hover {
    background-color: green;
  }
}

