.nav {
    background-color: pink;
}

.navbar-brand {
    color: $pale;
}

.dropdown-menu {
    padding: 5px;
}

.navbar-nav {
    border-left: 1px solid $pale;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;

    a:hover {
        background-color: $pale;
        color: #fafafa;
        border-radius: 8px;
    }
}